.table .cell {
  &:not(:last-child) {
    border-right: 1px solid var(--mantine-color-default-border);
  }

  .label {
    display: none;
  }

  .value {
    display: block;
    padding: 3px var(--mantine-spacing-xs);
  }
}
