//medium-small screens
@media screen and (min-width: 568px) {
  .table.poke-table {
    height: calc(100svh - 172px);
  }

  .poke-table-toolbar .paging-controls {
    margin-right: 0;
  }

  .poke-table-toolbar.mantine-Flex-root {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 568px) {
  .table.poke-table {
    .header {
      display: none;
    }

    .row,
    .cell {
      display: flex;
    }
    .cell {
      justify-content: space-between;
    }

    .row {
      flex-direction: column;

      .cell .label {
        display: inline-flex;
        padding: 0 6px;
      }
    }
  }
}
