.app-card {
  a.header {
    filter: grayscale(90%);
    transition: filter 160ms ease-out;
    margin-bottom: 24px;
  }

  a.header,
  figure,
  img {
    position: relative;
  }

  figure {
    height: 160px;
    margin: 0;
    display: grid;
    place-content: center;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      // height: 100%;
      width: 100%;
      min-height: 160px;
      min-width: 100%;
    }

    &.poke img {
      object-fit: contain;
    }

    &:not(.poke) img {
      transform: translateY(-15%);
    }
  }

  &:hover a.header {
    filter: grayscale(0%);

    figure.poke {
      background: #ef5350;
    }
  }
}
